<div class="lists user row list-group-item">
    <%= image_tag "nekko.jpg", alt: "icon", class: "image col-3 rounded-circle"%>
	<div class="col-9">
		<h1>名無し</h1>
		<div>@nanashi</div>
	</div>
</div>

<div class="lists">
	<a class="btn cyaan to_lists_new" href="#" role="button">新しくリストを管理</a>
	<h2 class="col">管理中のリスト</h2>
    <ul class="list-group">
		<li class="list-group-item"><a><p class="row"><span class="col">ミクちゃんモデル配布用</span><span class="badge n-badge cyaan">1</span></p></a></li>
		<li class="list-group-item"><a><p class="row"><span class="col">グミちゃんモデル配布用</span><span class="badge n-badge cyaan">5</span></p></a></li>
		<li class="list-group-item"><a><p class="row"><span class="col">カイトくんモデル配布用</span><span class="badge n-badge cyaan">5</span></p></a></li>
		<li class="list-group-item"><a><p class="row"><span class="col">うちのこモデル配布用</span><span class="badge n-badge cyaan">3</span></p></a></l i>
		<li class="list-group-item"><a><p class="row"><span class="col">共同制作モデル共有用</span><span class="badge n-badge cyaan"></span></p></a></li>
		<li class="list-group-item"><a><p class="row"><span class="col">家具モデル配布用</span><span class="badge n-badge cyaan">1</span></p></a></li>
		<li class="list-group-item"><a><p class="row"><span class="col">スカイドーム配布用</span><span class="badge n-badge cyaan"></span></p></a></li>
		<li class="list-group-item"><a><p class="row"><span class="col">エフェクト配布用</span><span class="badge n-badge cyaan"></span></p></a></li>
		<li class="list-group-item"><a><p class="row"><span class="col">ベータ版配布用</span><span class="badge n-badge cyaan">1</span></p></a></li>
	</ul>
</div>