%nav.navbar.navbar-expand-md.fixed-top.navbar-light.bg-light
  %a.navbar-brand{:href => "#"}
    リプイン
  %button.navbar-toggler{"aria-controls" => "navbarNav", "aria-expanded" => "false", "aria-label" => "Toggle navigation", "data-target" => "#navbarNav", "data-toggle" => "collapse", :type => "button"}
    %span.navbar-toggler-icon
  #navbarNav.collapse.navbar-collapse
    %ul.navbar-nav.ml-auto
      %li.nav-item
        %a.nav-link{:href => "#"} リプインとは
      %li.nav-item
        %a.nav-link{:href => "#"} よくある質問
      %li.nav-item
        %a.nav-link{:href => "#"} ログアウト
